{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div>
        <h1>PROFILE</h1>
        <div class="form-group">
                <h6>Username: 
                    <span>
                       {{users}}
                    </span>
                </h6>
               
        </div>
        <div class="form-group">
            <h6> Password: 
                <span>
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </span>
            </h6>
        </div>
    </div>
{% endblock %}
