{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">Select a Symbol:</label>
            <div class="center-container">
                <select style="width: 200px;" class="form-select" name="symbol" id="symbol" required>
            </div>
                {% for d in stock %}
                <option >{{ d.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" required name="shares" placeholder="Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
